<div class="spotify-playlists">
  <h2>Top 100 Albums</h2>

  <div class="filters">
    <input 
      type="text" 
      placeholder="Search albums..." 
      [(ngModel)]="searchTerm" 
      (input)="onSearchChange()" 
      class="search-input"
    />

    <!-- Filter by price range -->
    <input 
      type="number" 
      placeholder="Min Price" 
      [(ngModel)]="minPrice" 
      (input)="onSearchChange()" 
      class="search-input"
    />
    <input 
      type="number" 
      placeholder="Max Price" 
      [(ngModel)]="maxPrice" 
      (input)="onSearchChange()" 
      class="search-input"
    />

    <!-- Filter by release date -->
    <input 
      type="date" 
      placeholder="From Date" 
      [(ngModel)]="fromDate" 
      (input)="onSearchChange()" 
      class="search-input"
    />
    <input 
      type="date" 
      placeholder="To Date" 
      [(ngModel)]="toDate" 
      (input)="onSearchChange()" 
      class="search-input"
    />

    <!-- Filter by category -->
    <select 
      [(ngModel)]="selectedCategory" 
      (change)="onSearchChange()" 
      class="search-input"
    >
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
  </div>

  <div class="list grid grid-cols-6 gap-4">
    <div 
      class="item" 
      *ngFor="let album of filteredAlbums; let i = index"
    >
      <span class="item-number">{{ i + 1 }}</span>
      <img [src]="album['im:image'][2].label" alt="{{ album['im:name'].label }}" width="170" />
      <div class="play" (click)="goToSecondComponent(album.id.attributes['im:id'])">
        <span class="fa fa-arrow-up-right-from-square"></span>
      </div>
      <h4>{{ album['im:name'].label }}</h4>
      <p>{{ album['im:artist'].label }}</p>
    </div>
  </div>
</div>
